streamlit-chat
streamlit
openai
pandas==2.2.0
torch==2.1.2
transformers==4.38.0.dev0
tqdm
llama-index         
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-huggingface
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-pinecone
llama-parse
llamaindex-py-client
datasets